.content {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    min-width: 50vw;
}

.catalog_title {
    font-size: 50px;
    margin: 15px 0px 15px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-variant: small-caps;
    text-align: center;
}

.courses_table {
    min-height: 25vh;
    min-width: 50vw;
}

.super-app-theme--header {
    font-size: 14px;
    font-variant: small-caps;
}

.button_section {
    margin: 10px 0px 5px;
    text-align: center;
}
