.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-section {
    background-image: url("../../assets/college.jpeg");
    background-position: center; /* Aligns the image to the left and vertically centers it */
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
    text-align: center;
}

.top-section h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
    align-self: center;
}

.body-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.course-schedule {
    width: 50%;
    height: 50vh;
}

.table {
    margin: 10px 50px 10px 50px;
}

.news-section {
    width: 25%;
    border-right: 2px solid;
    height: 50vh;
}

.user-info {
    width: 25%;
    border-left: 2px solid;
    height: 50vh;
}