.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.course_schedule {
    width: 40%;
}

.table {
    margin: 5px 0px 10px;
}

.feed {
    width: 30%;
}

.info {
    width: 30%;
}