body {
  margin: 0;
  font-family: 'MyFont', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-family: 'HeaderFont', sans-serif;
}

footer {
  font-family: 'HeaderFont', sans-serif;
}
