.header {
    display: flex;
}

.header_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5px;
}

.header_title {
    padding: 2rem 0.5rem;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: var(--gradient-text)
}

.header_content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}