.main_container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    height: 25vh;
    background-image: url("../../assets/banner.jpeg");
    background-position: center; /* Aligns the image to the left and vertically centers it */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.title h1 {
    font-size: 60px;
    font-family: 'HeaderFont', sans-serif;
    text-align: center;
    color: white;
}

.flex-container {
    display: flex;
    margin-top: 10px;
}

.side_panel {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 20px;
    margin-right: 10px;
}

.side_panel h1 {
    font-size: 36px;
}

.news-container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedpic {
    width: 60vw;
    height: 30vh;
}