.main-container {
  height: 100vh;
  position: relative;
}

.hero-text {
  font-family: "Libre Franklin", sans-serif;
  color: rgb(255, 255, 255);
  font-optical-sizing: auto;
  text-align: center;
}

.hero-text h1 {
  font-size: 150px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0;
}

.hero-text h2 {
  font-size: 100px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0;
}




