.footer {
    display: flex;
    height: 100px;
}

.footer-links {
    display: flex;
    width: 33%;
}

.item {
    width: 150px;
    color: rgb(0, 0, 0);
}

.footer_text {
    width: 33%;
}

.footer_text p {
   font-size: 14px;
   width: 325px;
   font-variant: small-caps;
}

.social_media_imgs {
    width: 33%;
}

.img {
    width: 30px;
    margin: 10px;
    padding: 0.2rem;
    cursor: pointer;
}