.navbar-main {
    display: flex;
    height: 100px;
}

.left-side-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    width: 65%;
}

.navbar-logo {
    width: 15%;
}

.navbar-logo img {
    cursor: pointer;
    width: 150px;
    height: 100px;
    padding: 10px;
}

.navbar-links-left {
    min-width: 40%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.navbar-links-left p {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    outline: none;
    padding: 10px;
}

.nav-item:hover {
    text-decoration: underline;
}
 
.right_side_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 35%;
}

.navbar_links_right {
    display: flex;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0.5rem 1rem;
    margin: 10px;
    width: 35%;
    justify-content: space-between;
}

.navbar_links_right p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    outline: none;
}

.header_text {
    width: 128px;
    font-style: oblique;
    text-decoration: solid;
}

.profile_link {
    align-self: center;
    justify-self: center;
    margin: 10px 10px 10px 10px;
}

.profile_link:hover {
    text-decoration: underline;
}

.logout_button {
    align-self: center;
    justify-self: center;
    margin: 10px 10px 10px 10px;
}
